// @import "../styles/stylesIndex.scss";

.Widget {
  @include shadow;
  border-radius: $border-radius;
  &.fullHeight {
    display: flex;
    flex-direction: column;
    height: 100%;
    .Widget-footer {
      margin-top: auto;
    }
  }
  &-head {
    padding: $grid-gap;
    border-radius: $border-radius $border-radius 0 0;
    h2 {
      @include bodyHeading;
      margin-bottom: 8px;
    }
    h3 {
      @include note;
      font-weight: 500;
    }
    h2,
    h3 {
      color: $color_white;
    }
  }
  &-body {
    padding: $grid-gap;
  }
  &-footer {
    padding: 0 $grid-gap $grid-gap;
    border-radius: 0 0 $border-radius $border-radius;
    text-align: center;
  }
}
