// @import "../styles/stylesIndex.scss";

@include fadesAnimations;

.Block .Image-source a {
  @include source;
}

.Image {
  position: relative;
  display: inline-flex;
  flex-direction: column;
  picture {
    width: 100%;
    position: relative;
    img {
      max-height: 600px;
      border-radius: $border-radius;
      max-width: 100%;
    }
  }
  &-container {
    position: relative;
    overflow: hidden;
  }
  &-source {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    span {
      @include source;
      padding: 0 4px;
    }
    a {
      @include source;
      text-decoration: none;
      transition: all 0.3s linear;
      &:after {
        display: none;
      }
    }
  }
  .Hotspot {
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
    width: 100%;
    &-spot {
      position: absolute;
      transform: translate(-50%, -50%);
      z-index: 1;
      padding: 10px;
      .Icon .Streamline_Icon {
        border-radius: 50px;
        @include intenseShadow;
        path {
          fill: $color_white;
        }
      }
    }
    &-hot {
      position: absolute;
      max-width: 180px;
      background: $transparent_background;
      border-radius: $border-radius - 2px;
      padding: $space_s $space_m;
      opacity: 0;
      transition: all 0.6s cubic-bezier(0.16, 1, 0.3, 1);
      z-index: 4;
      margin-top: 10px;
      margin-bottom: 10px;
      animation: fadeOutZIndex 0.3s forwards;
      a {
        text-decoration: none;
        &:after {
          display: none;
        }
      }
      & > * {
        color: $color_white;
      }
      span.spot-title {
        @include note;
        color: $color_white;
        margin-right: 12px;
      }
      span.spot-shop {
        @include link;
        color: $color_lightGrey;
        text-transform: uppercase;
        display: inline-flex;
        align-items: center;
        .Icon {
          margin-left: 4px;
          path {
            stroke: $color_white;
          }
        }
      }
      &.top {
        top: initial;
        bottom: 0;
        margin-bottom: 25px;
      }
    }
    &.open {
      .Hotspot-hot {
        margin-top: 15px;
        opacity: 1;
        z-index: 10;
        animation: fadeIn 0.3s forwards;
        &.top {
          margin-top: 0px;
          margin-bottom: 15px;
        }
      }
    }
  }
}

@keyframes fadeOutZIndex {
  0% {
    opacity: 1;
    pointer-events: none;
    z-index: 2000;
  }

  100% {
    opacity: 0;
    pointer-events: none;
    z-index: -1;
  }
}
