@import "../styles/stylesIndex.scss";

.Popup {
  position: relative;
  display: inline-flex;
  z-index: 3000;
  &-trigger {
    display: inherit;
  }
  &-content {
    position: fixed;
    z-index: 400;
    padding: $grid-gap/2;
    background: $color_white;
    border-radius: $border-radius;
    animation: fadeOut 0.3s forwards;
    transition: transform 0.6s cubic-bezier(0.16, 1, 0.3, 1);
    @include shadow;
    &.addedPadding {
      padding: $space_l;
    }

    h3 {
      @include cardTitle;
      margin-bottom: 4px;
    }
    p {
      @include note;
      color: tint($color_black, 20%);
      margin-bottom: 18px;
    }
    hr {
      background: tint($color_black, 85%);
      height: 1px;
      border: none;
      margin: $grid-gap/2 0;
    }

    &-title {
      @include paragraph;
      @include font-defaults;
      margin-bottom: $grid-gap/2;
    }

    & > div:last-child {
      margin-bottom: 0;
    }

    .Popup-arrow {
      height: 20px;
      position: absolute;
      top: calc(50% - 10px);
      left: 0px;
      &:before {
        z-index: 10;
        content: "";
        position: absolute;
        width: 8px;
        height: 100%;
        border-radius: 4px;
        margin-left: 0;
        box-sizing: border-box;
        background: $color_white;
        top: 0;
        bottom: 0;
        left: 0;
        height: 100%;
        width: 8px;
      }
      &:after {
        z-index: -1;
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        margin-left: 0;
        box-sizing: border-box;
        border: 4px solid #fff;
        border-color: transparent transparent #fff #fff;
        transform-origin: 0 0;
        transform: rotate(45deg);
        box-shadow: 0 0 6px rgba(0, 0, 0, 0.13);
        top: calc(50% - 6px);
        left: 0;
      }
    }

    &.open {
      animation: fadeIn 0.3s forwards;
    }

    // left
    &.left {
      transform: translate(10px, -50%);
      &.open {
        transform: translate(0px, -50%);
      }
    }

    // leftTop
    &.leftTop {
      transform: translateX(10px);
      &.open {
        transform: translateX(0px);
      }
    }

    // bottom
    &.bottom {
      transform: translateY(10px);
      &.open {
        transform: translateY(0px);
      }
      .Popup-arrow {
        transform: rotate(90deg);
        top: -10px;
        left: calc(50% + 10px);
      }
    }

    // bottomLeft
    &.bottomLeft {
      transform: translateY(10px);
      &.open {
        transform: translateY(0px);
      }
      .Popup-arrow {
        transform: rotate(90deg);
        top: -10px;
      }
    }

    // bottomRight
    &.bottomRight {
      transform: translateY(10px);
      &.open {
        transform: translateY(0px);
      }
      .Popup-arrow {
        transform: rotate(90deg);
        top: -10px;
      }
    }

    &.fullWidth {
      width: calc(100% - #{$grid-gap}) !important;
      top: 0 !important;
      position: absolute;
      left: 0 !important;
      padding-top: 46px;
      margin-top: $grid-gap/2;
      border-radius: 0 0 $border-radius $border-radius;
      &.addedPadding {
        margin-top: $grid-gap;
        width: calc(100% - #{$grid-gap * 2}) !important;
      }
    }
  }
}
