// @import "../styles/stylesIndex.scss";

// .Carousel {
//     margin: 0 !important;
//     .carousel__slider {
//         padding: 0 !important;
//         margin: 0 !important;
//     }
//     &-button {
//         display: none;
//     }
//     &-slide-container {
//         margin: 0;
//     }
// }

.Story {
    width: 100%;
    max-width: 400px;
    height: 100vh;
    max-height: 700px;
    border-radius: $border-radius;
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    margin: 0 auto;
    &-head {
        position: absolute;
        top: 0;
        width: 100%;
        padding-bottom: 24px;
        z-index: 10;
        background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0));
        &-timeline {
            display: flex;
            padding: 12px 12px 0;
            hr {
                width: 100%;
                margin-right: 12px;
                height: 3px;
                border: none;
                border-radius: 10px;
                background: $color_white;
                opacity: 0.5;
                &:last-child {
                    margin: 0;
                }
            }
        }
        &-info {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        &-icons {
            display: flex;
            padding: 12px;
            align-items: center;
            .Button.icon.withIcon .Icon path {
                stroke: $color_white;
            }
        }
        &-author {
            padding: 8px 12px;
            display: flex;
            align-items: center;
            h3 {
                @include cardTitle;
                color: $color_white;
                margin-left: 12px;
            }
        }
    }

    // only if fullwidth bottom
    &-image,
    &-secondImage {
        width: 100%;
        flex-grow: 1;
        background-size: cover;
        background-position: center center;
    }

    // main
    &-main {
        padding: 124px 24px 76px;
        h2 {
            @include pageTitle;
            color: $color_white;
            margin-bottom: 12px;
        }
        p {
            color: $color_white;
        }
        &.bottom {
            position: absolute;
            bottom: 0px;
        }
        &.top {
            position: absolute;
            top: 0;
            padding: 76px 24px;
        }
        &.middle {
            position: absolute;
            top: 50%;
            transform: translateY(calc(-50% - 20px));
            padding: 24px;
        }

        // align
        &.center {
            .Story-main-title,
            .Story-main-description {
                text-align: center;
            }
        }
        &.right {
            .Story-main-title,
            .Story-main-description {
                text-align: right;
            }
        }

        // background
        &.backgroundVisible {
            margin: 20px auto;
            .Story-main-description {
                margin-top: 10px;
            }
            h2,
            p {
                line-height: 1.6em;
                background-color: #000;
                border-radius: 8px;
                color: #fff;
                display: inline;
                padding: 8px 12px;
                box-decoration-break: clone;
                -webkit-box-decoration-break: clone;
            }
            &.fullwidthBackground {
                background: #000;
                padding: 24px 12px;
                bottom: 76px;
                position: absolute;
                h2,
                p {
                    line-height: 1.3em;
                    display: inline-block;
                    margin: 0;
                    padding: 0 12px;
                    background: transparent;
                    width: calc(100% - 24px);
                }
                &.bottom {
                    padding: 24px 12px 96px;
                    bottom: 0;
                    position: relative;
                    margin: 0;
                }
                &.middle {
                    bottom: initial;
                    top: 50%;
                    transform: translateY(-50%);
                    position: absolute;
                    &.hasSecondImage {
                        position: relative;
                        top: initial;
                        transform: none;
                        margin: 0;
                    }
                }
                &.top {
                    bottom: initial;
                    top: 0;
                    position: relative;
                    margin: 0;
                    padding: 76px 24px 24px;
                }
            }
        }
    }
    &-link {
        position: absolute;
        bottom: 24px;
        left: 50%;
        transform: translateX(-50%);
        .Button {
            border-radius: 8px;
        }
    }
}
