@import "../styles/stylesIndex.scss";

.Header {
  min-height: 450px;
  align-items: center;
  display: flex;
  overflow: hidden;
  border-radius: $border_radius;
  position: relative;
  margin-bottom: $grid-gap;
  &-squiggle {
    margin: 8px 0 16px;
    position: relative;
    display: inline-block;
    width: 130px;
  }
  &-backgroundImage {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    display: flex;
    img {
      object-fit: cover;
      width: 100%;
    }
    &-overlay {
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      position: absolute;
      background: linear-gradient(-90deg, rgba(0, 0, 0, 0) 30%, rgba(0, 0, 0, 0.6));
    }
  }
  &-source {
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: flex-end;
    background: rgba(45, 49, 67, 0.4);
    padding: 0 12px;
    border-radius: $border_radius 0 0 0;
    span {
      @include source;
      color: $color_white;
      padding: 0 4px;
    }
    a {
      @include source;
      color: $color_white;
      opacity: 0.6;
      text-decoration: none;
      transition: all 0.3s linear;
      &:hover {
        color: $color_white;
        opacity: 1;
      }
    }
  }
  @include lg {
    margin-bottom: $grid-gap;
    align-items: flex-end;
  }
  @include md {
    align-items: flex-end;
    padding-top: 0;
    height: auto;
    border-radius: 0;
    margin-left: -$grid-gap;
    margin-right: -$grid-gap;
    &-backgroundImage-overlay {
      background: linear-gradient(180deg, rgba(0, 0, 0, 0) 30%, rgba(0, 0, 0, 0.6));
    }
  }
  &-categories {
    display: flex;
    align-items: center;
    margin: 24px 0;
    .Link {
      line-height: 26px;
      @include squiggleUnderline(true);
    }
    .Icon {
      padding: 0 10px;
      .Streamline_Icon path {
        stroke: $color_white;
      }
    }
  }
  &-content {
    padding: 30px 100px;
    transition: all 0.6s cubic-bezier(0.16, 1, 0.3, 1);
    justify-content: center;
    max-width: 740px;
    z-index: 10;
    position: relative;
    h1 {
      @include pageHeading;
      margin-bottom: $space_m;
      color: $color_white;
    }
    p.subTitle {
      @include pageSubHeading;
      margin-bottom: $space_s;
      color: $color_white;
    }
    p.description {
      @include note;
      a {
        @include note;
        @include squiggleUnderline(false);
        color: $color_white;
      }
      margin-bottom: $space_s;
      color: $color_white;
    }
    @include lg {
      max-width: 100%;
    }
    @include md {
      padding: 30px;
      width: calc(100% - 60px);
      justify-content: flex-end;
    }
    @include sm {
      position: relative;
    }
  }
  &.content {
    h1 {
      @include pageTitle;
      margin-bottom: 24px;
      color: $color_white;
    }
  }

  &.display {
    .Header-content {
      max-width: 380px;
    }
  }
}
