@import "../styles/stylesIndex.scss";

.Header {
  height: 0;
  padding-top: 420px;
  align-items: center;
  display: flex;
  overflow: hidden;
  border-radius: $border_radius;
  background-color: $color_black;
  background-size: cover;
  background-position: center center;
  position: relative;
  margin-bottom: calc(#{$grid-gap}* 2);
  @include lg {
    padding-top: 40%;
    min-height: 140px;
    margin-bottom: 0;
  }
  @include md {
    padding-top: 55%;
    min-height: 150px;
    margin-bottom: $grid-gap;
  }
  @include sm {
    min-height: 450px;
    align-items: flex-end;
    padding-top: 0;
    height: auto;
    border-radius: 0;
    margin-left: -$grid-gap;
    margin-right: -$grid-gap;
    .Stats {
      margin: 12px -30px -30px;
      border-radius: $border_radius $border_radius 0 0;
    }
  }
  &-categories {
    display: flex;
    align-items: center;
    .Icon {
      padding: 0 10px;
      .Streamline_Icon path {
        stroke: $color_white;
      }
    }
  }
  &-content {
    position: absolute;
    top: 0;
    padding: 30px 100px;
    transition: all 0.6s cubic-bezier(0.16, 1, 0.3, 1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: calc(100% - 60px);
    max-width: 60%;
    h1 {
      @include pageHeading;
      margin-bottom: $space_m;
      color: $color_white;
    }
    p.subTitle {
      @include pageSubHeading;
      margin-bottom: $space_s;
      color: $color_white;
    }
    p.description {
      @include meta;
      margin-bottom: $space_s;
      color: $color_white;
    }
    @include lg {
      max-width: 100%;
    }
    @include md {
      padding: 30px;
      width: calc(100% - 60px);
      justify-content: flex-end;
    }
    @include sm {
      position: relative;
    }
  }
}
