// @import "../styles/stylesIndex.scss";

.Tag {
  background: $color_white;
  padding: 12px 14px;
  border: 1px solid $color_lightGrey;
  border-radius: $border-radius;
  outline: none;
  cursor: pointer;
  display: inline-flex;
  transition: all 0.2s linear;
  white-space: nowrap;
  @include note;
  &:hover {
    border: 1px solid $color_altBlack;
  }
  &:active,
  &.active {
    background: $color_altBlack;
    color: $color_white;
  }
}
