// @import "../styles/stylesIndex.scss";

.ToolTip {
  position: relative;
  display: inline-flex;
  cursor: pointer;
  &-popup {
    z-index: 1300;
    position: absolute;
    opacity: 0;
    left: 100%;
    top: 50%;
    margin-left: 12px;
    transform: translate(6px, -50%);
    background: $color_white;
    padding: $space_xs $space_s;
    border: 1px solid $color_offWhite;
    border-radius: 4px;
    box-sizing: border-box;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.13);
    transition: all 0.4s cubic-bezier(0.16, 1, 0.3, 1);
    pointer-events: none;
    white-space: nowrap;
    opacity: 0;
    &:before {
      z-index: 10;
      content: "";
      position: absolute;
      width: 8px;
      height: 100%;
      border-radius: 4px;
      margin-left: 0;
      bottom: 0;
      top: 0;
      left: 0;
      box-sizing: border-box;
      background: $color_white;
    }
    &:after {
      z-index: -1;
      content: "";
      position: absolute;
      width: 0;
      height: 0;
      margin-left: 0;
      bottom: 0;
      top: calc(50% - 5px);
      left: 0;
      box-sizing: border-box;
      border: 4px solid #fff;
      border-color: transparent transparent #fff #fff;
      transform-origin: 0 0;
      transform: rotate(45deg);
      box-shadow: 0 0 6px rgba(0, 0, 0, 0.13);
    }
    p {
      @include meta;
      color: tint($color_black, 40%);
    }
  }
  &.capitalize p {
    text-transform: capitalize;
  }

  &:hover {
    .ToolTip-popup {
      opacity: 1;
      transform: translate(0px, -50%);
    }
  }
  &.focused,
  &.disabled {
    .ToolTip-popup {
      opacity: 0;
      transform: translate(6px, -50%);
    }
  }

  &.bottom {
    .ToolTip-popup {
      top: 100%;
      left: 50%;
      transform: translate(-50%, 16px);
      margin: 0;
      &:after {
        transform: rotate(135deg);
        left: calc(50% + 5px);
        top: 0;
      }
      &:before {
        left: calc(50% - 20px);
        top: 0;
        height: 5px;
        width: 40px;
      }
    }
    &:hover {
      .ToolTip-popup {
        opacity: 1;
        transform: translate(-50%, 8px);
      }
    }
  }

  &.left {
    .ToolTip-popup {
      top: 50%;
      left: 0;
      transform: translate(calc(-100% - 16px), -50%);
      margin: 0;
      &:after {
        transform: rotate(-135deg);
        left: 100%;
        top: calc(50% + 5px);
      }
      &:before {
        left: calc(100% - 8px);
        top: 0;
      }
    }
    &:hover {
      .ToolTip-popup {
        opacity: 1;
        transform: translate(calc(-100% - 8px), -50%);
      }
    }
  }
}
