@import "../styles/stylesIndex.scss";

.StepBar {
  width: 100%;
  overflow: hidden;
  display: flex;
  &-scroll {
    display: flex;
    width: 100%;
    overflow-x: scroll;
    &::-webkit-scrollbar {
      display: none;
    }
  }
  &-setup {
    padding-right: 8px;
    margin-right: 8px;
    border-right: 1px solid $color_offWhite;
  }
  &-step {
    margin-right: 8px;
    span {
      margin-right: 4px;
      font-weight: 600;
    }
  }
}
