// @import "../styles/stylesIndex.scss";

.StepBar {
  width: 100%;
  overflow: hidden;
  display: flex;
  position: relative;
  &-wrapper {
    overflow: hidden;
    display: flex;
    padding-top: 12px;
    width: calc(100% - 50px);
  }
  &-scroll {
    width: 100%;
    display: flex;
    overflow-x: scroll;
    &::-webkit-scrollbar {
      display: none;
    }
    &:after {
      content: " ";
      background: linear-gradient(90deg, rgba(255, 255, 255, 0.01) 30%, rgb(255, 255, 255));
      width: 52px;
      height: 46px;
      position: absolute;
      right: 0px;
    }
  }
  &-setup {
    padding-right: 8px;
    margin-right: 8px;
    border-right: 1px solid $color_offWhite;
  }
  &-step {
    span {
      margin-right: 4px;
      font-weight: 600;
    }
    margin-right: 12px;
    &:last-child {
      margin-right: 30px;
      .Tag {
        margin-right: 300px;
      }
    }
  }
}
