@mixin xs {
  @media (max-width: #{$screen-xs-max}) {
    @content;
  }
}

@mixin sm {
  @media (max-width: #{$screen-sm-max}) {
    @content;
  }
}

@mixin md {
  @media (max-width: #{$screen-md-max}) {
    @content;
  }
}

@mixin lg {
  @media (max-width: #{$screen-lg-max}) {
    @content;
  }
}

@mixin xl {
  @media (max-width: #{$screen-xl-max}) {
    @content;
  }
}

@mixin lgAlt {
  @media (max-width: 1024px) {
    @content;
  }
}

@function tint($color, $percentage) {
  @return mix(white, $color, $percentage);
}

@function shade($color, $percentage) {
  @return mix(black, $color, $percentage);
}

@mixin fadesAnimations {
  @keyframes fadeIn {
    0% {
      opacity: 0;
      pointer-events: none;
      z-index: 2000;
    }

    100% {
      opacity: 1;
      pointer-events: initial;
      z-index: 2000;
    }
  }

  @keyframes fadeOut {
    0% {
      opacity: 1;
      pointer-events: none;
      z-index: 2000;
    }

    100% {
      opacity: 0;
      pointer-events: none;
      z-index: -1;
    }
  }
}
