@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Serif&display=swap");
@import "./variables.scss";

$font_sans: "Poppins", sans-serif;
$font_serif: "PT Serif", serif;

* {
  font-family: $font_sans;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
}

@mixin font-defaults {
  font-family: $font_sans;
  font-weight: 500;
}

@mixin pageHeading {
  @include font-defaults;
  font-size: 40px;
  font-weight: 600;
  line-height: 48px;
  @include md {
    font-size: 32px;
    line-height: 40px;
  }
}

@mixin pageSubHeading {
  @include font-defaults;
  font-size: 14px;
  line-height: 22px;
  @include md {
    font-size: 12px;
    line-height: 20px;
  }
}

@mixin bodyHeading {
  @include font-defaults;
  font-size: 24px;
  line-height: 30px;
  @include md {
    font-size: 18px;
    line-height: 22px;
  }
}

@mixin paragraphHeading {
  @include font-defaults;
  font-size: 20px;
  line-height: 28px;
  @include md {
    font-size: 16px;
    line-height: 24px;
  }
}

@mixin paragraph {
  font-family: $font_serif;
  font-size: 20px;
  line-height: 32px;
  @include md {
    font-size: 16px;
    line-height: 24px;
  }
}

@mixin cardTitle {
  @include font-defaults;
  font-size: 16px;
  line-height: 24px;
  @include md {
    font-size: 14px;
    line-height: 22px;
  }
}

@mixin link {
  @include font-defaults;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 18px;
  letter-spacing: 1px;
  text-decoration: none;
  @include sm {
    font-size: 12px;
  }
}

@mixin meta {
  @include font-defaults;
  font-size: 10px;
  line-height: 18px;
}

@mixin source {
  font-family: $font_serif;
  font-size: 14px;
  line-height: 22px;
  font-style: italic;
  color: $color_grey;
}
