@import "./mixins.scss";

// THEME
$color_primary: #e18c5b;
$color_white: #fcfcfc;
$color_offWhite: #e7eced;
$color_lightGrey: #c2c5d6;
$color_grey: #a9aec7;
$color_black: #2d3143;
$color_blueBlack: #9498b3;

$color_status_1: #72aa00;
$color_status_2: #9e9e24;
$color_status_3: #b49836;
$color_status_4: #ca9248;
$color_status_5: $color_primary;

$space_xxs: 2px;
$space_xs: 4px;
$space_s: 8px;
$space_m: 14px;
$space: 16px;
$space_l: 24px;
$space_xl: 32px;
$space_xxl: 64px;

$color_primary_button: $color_primary;
$grid_gap: $space_l;
// @include sm {
//   $grid_gap: $space_m;
// }

// GENERAL
@include fadesAnimations;
$border_radius: 8px;
$transparent_background: rgba(39, 38, 44, 0.8);
@mixin shadow {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}
@mixin overlay {
  width: 100vw;
  height: 100vh;
  position: fixed;
  animation: fadeOut 0.2s forwards;
  &.open {
    z-index: -1;
    animation: fadeIn 0.2s forwards;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.3);
  }
}

.overlay {
  @include overlay;
}

// BREAKPOINTS
$screen-xs-max: 320px;
$screen-sm-max: 540px;
$screen-md-max: 768px;
$screen-lg-max: 1080px;
$screen-xl-max: 1440px;

:export {
  xsMax: $screen-xs-max;
  smMax: $screen-sm-max;
  mdMax: $screen-md-max;
  lgMax: $screen-lg-max;
  xlMax: $screen-xl-max;
}
