@import "./mixins.scss";

// THEME
$color_primary: #e18c5b;
$color_offPrimary: #fae7d0;
$color_white: #fcfcfc;
$color_offWhite: #f3f4f8;
$color_lightGrey: #c2c5d6;
$color_mediumGrey: #a9aec7;
$color_creme: #f8f1e7;
$color_grey: #52597a;
$color_black: #181b24;
$color_altBlack: #2d3143;
$color_blueBlack: #868caa;

$color_status_1: #72aa00;
$color_status_2: #9e9e24;
$color_status_3: #b49836;
$color_status_4: #ca9248;
$color_status_5: $color_primary;

$space_xxs: 2px;
$space_xs: 4px;
$space_s: 8px;
$space_m: 14px;
$space: 16px;
$space_l: 24px;
$space_xl: 32px;
$space_xxl: 64px;

$color_primary_button: $color_primary;
$grid_gap: $space_l;

// GENERAL
@include fadesAnimations;
$border_radius: 8px;
$transparent_background: rgba(39, 38, 44, 0.8);
@mixin shadow {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}
@mixin hoverShadow {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}
@mixin intenseShadow {
  box-shadow: 0 0 15px rgba(170, 174, 197, 0.7);
}

@mixin squiggleUnderline($alt) {
  position: relative;
  text-decoration: none;
  display: inline-block;
  z-index: 10;
  &:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    bottom: 0;
    left: 0;
    background-image: url("/link.svg");
    background-repeat: repeat-x;
    background-size: 20px;
    filter: grayscale(100%);
    opacity: 0.6;
    transition: all 0.2s linear;
  }
  &:hover:after {
    filter: grayscale(0%);
    opacity: 1;
  }
  &.noSquiggle:after {
    display: none;
  }
  @if $alt {
    &:after {
      transform: translateY(2px);
      opacity: 0;
      filter: none;
    }
    &:hover:after {
      transform: translateY(0);
      opacity: 1;
    }
  }
}

@mixin overlay {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s linear;
  &.open {
    pointer-events: none;
    z-index: 2000;
    top: 0;
    left: 0;
    opacity: 1;
    background: rgba(0, 0, 0, 0.3);
    pointer-events: initial;
  }
}

.overlay {
  @include overlay;
}

// BREAKPOINTS
$screen-xs-max: 320px;
$screen-sm-max: 540px;
$screen-md-max: 768px;
$screen-lg-max: 1024px;
$screen-xl-max: 1440px;

:export {
  xsMax: $screen-xs-max;
  smMax: $screen-sm-max;
  mdMax: $screen-md-max;
  lgMax: $screen-lg-max;
  xlMax: $screen-xl-max;
}
