// THEME
$color_primary: #e18c5b;
$color_white: #fcfcfc;
$color_offWhite: #e7eced;
$color_lightGrey: #c2c5d6;
$color_black: #2d3143;
$color_blueBlack: #9498b3;

$space_xxs: 2px;
$space_xs: 4px;
$space_s: 8px;
$space_m: 14px;
$space: 16px;
$space_l: 24px;
$space_xl: 32px;
$space_xxl: 64px;

$color_primary_button: $color_primary;
$grid_gap: $space_l;

// GENERAL
$border_radius: 8px;
@mixin shadow {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

// BREAKPOINTS
$screen-xs-max: 320px;
$screen-sm-max: 540px;
$screen-md-max: 768px;
$screen-lg-max: 1080px;
$screen-xl-max: 1440px;

:export {
  xsMax: $screen-xs-max;
  smMax: $screen-sm-max;
  mdMax: $screen-md-max;
  lgMax: $screen-lg-max;
  xlMax: $screen-xl-max;
}
