@import "../styles/stylesIndex.scss";

.PageContainer {
  margin-left: 285px;
  padding: $grid-gap;
  transition: all 0.6s cubic-bezier(0.16, 1, 0.3, 1);
  overflow: hidden;
  &.tablet {
    margin-left: 98px;
  }
  &.mobile {
    margin-top: 69px;
    margin-left: 0;
    @include sm {
      margin-top: calc(69px - #{$grid-gap});
    }
  }
}
