@import "../styles/stylesIndex.scss";

.PageContainer {
  margin-left: 285px;
  padding: $grid-gap $space_xxl;
  transition: all 0.6s cubic-bezier(0.16, 1, 0.3, 1);
  background: $color_white;
  &.tablet {
    margin-left: 90px;
    padding: $grid-gap;
  }
  &.hasActionBar {
    @include lg {
      margin-top: 46px;
    }
  }
  &.mobile {
    margin-top: 62px;
    margin-left: 0;
    padding: $grid-gap;
    overflow: hidden;
    @include md {
      margin-top: calc(62px - #{$grid-gap});
    }
  }
  &.tablet.hasSteps .Block {
    padding-left: 50px;
  }
  &.shadedBackground {
    background: $color_offWhite;
  }
}
