// @import "../styles/stylesIndex.scss";

.MenuItem {
  display: flex;
  padding: $space_l $space_m;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  &-chevron {
    svg path {
      stroke: $color_blueBlack;
      stroke-width: 48px;
    }
  }
  &.open {
    .MenuItem-chevron {
      transform: rotate(180deg);
    }
  }
  @include md {
    .MenuItem-chevron {
      transform: rotate(90deg);
    }
    &.open {
      .MenuItem-chevron {
        transform: rotate(-90deg);
      }
    }
  }

  @include xl {
    .Link.withIcon .Icon {
      margin-right: 0;
    }
    .MenuItem-chevron {
      display: none;
    }
    .Link.withIcon > span {
      display: none;
    }
  }

  @include md {
    .Link.withIcon .Icon {
      margin-right: 24px;
    }
    .MenuItem-chevron {
      display: block;
    }
    .Link.withIcon > span {
      display: block;
    }
  }
}
