@import "../styles/stylesIndex.scss";

.SideBySide {
  width: 100%;
  position: relative;
  &-top {
    margin-bottom: $grid-gap;
    position: relative;
    z-index: 10;
  }
  &-lowerContainer {
    display: flex;
    position: relative;
    z-index: 10;
  }
  &-background {
    width: calc(100vw - 285px);
    height: 100%;
    position: absolute;
    top: 0;
    left: calc(50% - 36px);
    transform: translate(-50%, 0);
    z-index: 1;
    @include lg {
      width: calc(100vw - 98px);
      left: 50%;
    }
    @include md {
      width: 100vw;
    }
  }

  h2 {
    @include bodyHeading;
  }

  h3 {
    @include paragraphHeading;
    margin-bottom: $grid-gap/2;
  }

  ul {
    margin-left: 20px;
    list-style: none;
    li {
      @include paragraph;
      color: tint($color_black, 20%);
      a {
        @include paragraph;
      }
      &:before {
        content: "\2022";
        color: $color_lightGrey;
        display: inline-block;
        width: $grid-gap;
        margin-left: -18px;
      }
    }
  }

  @include sm {
    .SideBySide-left,
    .SideBySide-right {
      width: 100% !important;
    }
    .SideBySide-lowerContainer {
      flex-direction: column;
    }
  }

  &.hasBackground {
    padding: 50px 0;
  }
}
