// @import "../styles/stylesIndex.scss";

.SideBySide {
  width: 100%;
  position: relative;
  &-top {
    margin-bottom: $grid-gap;
    position: relative;
    z-index: 10;
  }
  &-lowerContainer {
    display: flex;
    position: relative;
    z-index: 10;
  }

  h2 {
    @include bodyHeading;
  }

  h3 {
    @include paragraphHeading;
    margin-bottom: $grid-gap/2;
  }

  ul {
    margin-left: 20px;
    list-style: none;
    li {
      @include paragraph;
      color: tint($color_black, 20%);
      a {
        @include paragraph;
      }
      &:before {
        content: "\2022";
        color: $color_lightGrey;
        display: inline-block;
        width: $grid-gap;
        margin-left: -18px;
      }
    }
  }

  @include sm {
    .SideBySide-left,
    .SideBySide-right {
      width: 100% !important;
      margin-bottom: $grid-gap;
    }
    .SideBySide-lowerContainer {
      flex-direction: column;
    }
  }

  &.hasBackground {
    width: calc(100% - 64px);
    padding: 32px;
    margin: 32px 0 0;
    border-radius: $border-radius;
  }
}
