@import "../styles/stylesIndex.scss";

.Navbar {
  width: 220px;
  padding: $space_xl;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.08);
  height: 100vh;
  transition: all 0.6s cubic-bezier(0.16, 1, 0.3, 1);
  background: $color_white;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  &-head {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid $color_offWhite;
    @include md {
      border: none;
    }
  }
  &-logo {
    width: 100%;
    text-align: center;
    padding: $space_xl 0 $space_xxl;
    img {
      width: 64px;
    }
  }
  &-navigation {
    padding-top: 24px;
    @include md {
      overflow-y: scroll;
      overflow-x: hidden;
    }
  }
  &-subMenu {
    background: $color_offWhite;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 221px;
    height: 100vh;
    padding: 226px 32px;
    transition: all 0.6s cubic-bezier(0.16, 1, 0.3, 1);
    @include xl {
      left: -197px;
    }
    @include lg {
      left: -285px;
      top: 0;
    }
    &-close {
      position: absolute;
      top: $grid-gap;
      right: $grid-gap;
      cursor: pointer;
    }
    &.open {
      left: 285px;
      @include xl {
        left: 88px;
      }
      @include md {
        left: 80px;
        top: 62px;
      }
    }
    .MenuItem {
      margin-bottom: 8px;
      border-bottom: 1px solid $color_white;
    }
  }

  // TABLET
  &.tablet {
    padding: $space_l;
    width: 40px;
    .Navbar-logo {
      padding: $space_s 0 $space_l;
      img {
        width: 40px;
      }
    }
    .Navbar-navigation {
      padding: $space_l 0;
    }
  }

  // MOBILE
  &.mobile {
    background: transparent;
    box-shadow: none;
    left: -285px;
    .Navbar-head {
      position: fixed;
      top: 0;
      left: 0;
      background: $color_white;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      z-index: 999;
      transition: all 0.6s cubic-bezier(0.16, 1, 0.3, 1);
      @include shadow;
      &.hide {
        top: -90px;
      }
    }
    .Navbar-logo {
      padding: $space_m;
      width: initial;
      img {
        display: block;
        width: 100px;
      }
    }
    .Navbar-navigation {
      padding: 0;
      position: fixed;
      top: 62px;
      left: -248px;
      background: $color_white;
      z-index: 998;
      height: 100vh;
      width: 220px;
      transition: all 0.6s cubic-bezier(0.16, 1, 0.3, 1);
      @include shadow;
      &.open {
        left: 0;
      }
      .MenuItem {
        border-bottom: 1px solid $color_offWhite;
        padding: 24px;
      }
    }
    .Navbar-menuIcon {
      padding: $space_m $space_l;
      cursor: pointer;
    }
    // INLINE SUBMENU
    .Navbar-inlineSubMenu {
      background: $color_offWhite;
      height: 0;
      overflow: hidden;
      transition: all 0.6s cubic-bezier(0.16, 1, 0.3, 1);
      .MenuItem {
        border-bottom: 1px solid $color_white;
      }
      &.open {
        background: #00ff00;
      }
    }
  }

  &-overlay {
    @include overlay;
    z-index: -1 !important;
    top: 0;
    left: 0;
  }
}
