// @import "../styles/stylesIndex.scss";

.Note {
  display: flex;
  background: $color_offWhite;
  padding: $grid-gap;
  border-radius: $border-radius;
  p {
    @include note;
    color: $color_grey;
    b,
    strong {
      font-weight: 600;
    }
    i {
      @include note;
      font-style: italic;
      color: $color_grey;
    }
    a {
      @include note;
      @include squiggleUnderline(false);
      color: $color_grey;
    }
  }
  &-icon {
    margin-right: $space_m;
    path {
      stroke: $color_mediumGrey;
    }
  }
}
