@import "../styles/stylesIndex.scss";

.Block {
  margin-bottom: $grid-gap / 2;
  margin-left: auto;
  margin-right: auto;
  max-width: 720px;
  padding-top: $grid-gap / 2;
  position: relative;
  @include md {
    padding: 0;
  }
  h2,
  h2 strong {
    @include bodyHeading;
  }
  h3,
  h3 strong {
    @include paragraphHeading;
  }
  p {
    @include paragraph;
    color: $color_altBlack;
  }
  a {
    @include paragraph;
    @include squiggleUnderline(false);
    color: $color_altBlack;
  }
  i {
    @include paragraph;
    font-style: italic;
    color: $color_altBlack;
  }
}
