@import "../styles/stylesIndex.scss";

.Button {
  @include link;
  display: inline-flex;
  cursor: pointer;
  position: relative;
  color: $color_white;
  border-radius: $space_xxl;
  background: $color_primary_button;
  border: none;
  outline: none;
  transition: all 0.2s linear;
  font-size: 12px;
  letter-spacing: 1px;
  padding: $space_s $space_m;
  &.withIcon .Icon {
    margin-right: $space_s;
    margin-left: -$space_xxs;
    & .Streamline_Icon svg {
      width: 10px !important;
      height: 10px !important;
      path {
        stroke: $color_white;
        stroke-width: 3px;
      }
    }
  }

  &.shadow {
    @include shadow;
  }

  &:hover {
    background: tint($color_primary_button, 30%);
  }

  &:focus {
    background: $color_primary_button;
    box-shadow: 0 0 0 2px tint($color_primary_button, 30%);
  }

  &.iconButton {
    width: 34px;
    height: 34px;
    padding: 8px;
    border-radius: 50%;
    .Icon .Streamline_Icon {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      margin: 0;
    }
  }

  &.large {
    font-size: 14px;
    letter-spacing: 1px;
    padding: $space_m $space_l - 4px;
    &.withIcon .Icon .Streamline_Icon {
      margin-right: $space_xs;
      margin-left: 0;
      svg path {
        stroke: $color_white;
      }
    }
  }

  &.small {
    font-size: 10px;
    letter-spacing: 1px;
    padding: $space_xs $space_s + 2px;
    &.withIcon .Icon {
      margin-right: $space_s;
      margin-left: 0;
      & .Streamline_Icon svg {
        width: 8px !important;
        height: 8px !important;
      }
    }
  }

  &.secondary {
    position: relative;
    background: transparent;
    color: $color_primary;
    border: 1px solid $color_primary;
    &.withIcon .Icon .Streamline_Icon path {
      stroke: $color_primary;
    }
    &.ripple .rippleContainer span {
      background-color: $color_primary !important;
    }
  }

  &.white {
    position: relative;
    background: $color_white;
    color: $color_primary;
    &.withIcon .Icon .Streamline_Icon path {
      stroke: $color_primary;
    }
    &.ripple .rippleContainer span {
      background-color: $color_primary !important;
    }
  }

  &.link {
    position: relative;
    background: $color_white;
    color: $color_primary;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
    &.withIcon .Icon {
      &:before {
        color: $color_primary;
      }
    }
    &.ripple .rippleContainer span {
      background-color: $color_primary !important;
    }
  }

  &:disabled {
    background: $color_lightGrey;
    color: $color_white;
    cursor: not-allowed;
    box-shadow: none;
    border-color: $color_lightGrey;
    &.ripple .rippleContainer span {
      background: transparent !important;
    }
  }
}

/* ripple */
.ripple {
  position: relative;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}
.ripple .rippleContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
}
.ripple .rippleContainer span {
  transform: scale(0);
  border-radius: 100%;
  position: absolute;
  width: 100px;
  height: 100px;
  opacity: 0.4;
  background-color: #ffffff;
  animation: ripple 850ms;
}

@keyframes ripple {
  to {
    opacity: 0;
    transform: scale(2);
  }
}
