@import "../styles/stylesIndex.scss";

.Footer {
  padding: 90px 0 $grid-gap;
  position: relative;
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100vw;
    height: calc(100% + #{$grid-gap});
    background-image: url("/footer-bg.png");
    background-size: cover;
  }
  & * {
    color: $color_white;
  }
  h3 {
    @include cardTitle;
    margin-bottom: $grid-gap/2;
  }
  &-links {
    & > * {
      margin-right: $grid-gap;
      margin-bottom: $grid-gap/2;
    }
  }
  &-copyright {
    position: relative;
    z-index: 10;
    @include meta;
    opacity: 0.4;
    text-align: right;
    @include sm {
      text-align: left;
    }
  }
}
