@import "../styles/stylesIndex.scss";

.Footer {
  padding: 64px 0 $grid-gap;
  position: relative;
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100vw - 285px);
    height: calc(100% + #{$grid-gap});
    background-image: url("/footer-bg.svg");
    background-size: cover;
  }
  & * {
    color: $color_white;
  }
  h3 {
    @include cardTitle;
    color: $color_white;
    margin-bottom: $grid-gap/2;
  }
  &-links {
    & > * {
      margin-right: $grid-gap;
      margin-bottom: $grid-gap/2;
      opacity: 0.7;
      text-align: left;
      display: inline-block;
      transition: all 0.3s linear;
      &:hover {
        opacity: 1;
      }
    }
  }
  &-copyright {
    position: relative;
    z-index: 10;
    @include meta;
    opacity: 0.2;
    text-align: right;
    @include sm {
      text-align: left;
    }
  }
}

@include xl {
  .Footer::after {
    width: calc(100vw - 90px);
  }
}
@include lg {
  .Footer::after {
    width: 100vw;
  }
}
